@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #c5e4e7;
    font-family: Space Mono;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    height: 100vh;
    align-items: center;
    /* justify-content: center; */
}

.container {
    width: 920px;
    margin: 0 auto;
}


.container>span.logo {
    display: block;
    margin: 0 auto 87px;
    width: fit-content;
}

.grid {
    background: #fff;
    border-radius: 25px;
    padding: 32px 32px 32px 49px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    box-shadow: 0px 29px 37px -2px rgba(0, 0, 0, 0.12);
}

.grid-left>label,
.grid-left>label:nth-child(5) {
    font-size: 16px;
    color: #5E7A7D;
    margin-bottom: 6px;
    display: inline-block;
}

.input-tab {
    position: relative;
}

.input-tab input[type="number"],
.people>input[type="number"] {
    background: #F3F9FA;
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    padding: 6px 17px 6px 44px;
    outline: 0;
    width: 379px;
    text-align: right;
    font-family: "Space Mono";
    font-weight: 700;
    -webkit-appearance: none;
    
}

.input-tab input[type="number"]:focus,
.people>input[type="number"]:focus {
    border: 3px solid #9FE8DF;
}


.input-tab h5,
.people span {
    color: #a9c3c4;
    position: absolute;
    top: 5px;
    left: 16px;
    font-size: 24px;
}

.people {
    position: relative;
}

.input-tab input[placeholder="0"],
.people>input[placeholder="0"] {
    font-size: 24px;
    color: #a9c3c4;
}

.grid-left>h5:nth-child(3) {
    margin: 40px 0 16px;
    font-size: 16px;
    color: #5E7A7D;
}

.tip-percentage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-bottom: 40px;
}

.tip-percentage>h3 {
    background: #00474B;
    color: #fff;
    text-align: center;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: .08s ease-in;
}

.tip-percentage>h3:hover {
    background: #9FE8DF;
    color: #00474B;
}

.tip-percentage>input[placeholder="Custom"] {
    background: #F3F9FA;
    color: #547878;
    font-weight: 700;
    font-size: 24px;
    font-family: "Space Mono";
    padding: 6px 14px;
}

.tip-percentage>input[type="number"] {
    border-radius: 5px;
    font-size: 24px;
    text-align: right;
    border: 0;
    outline: none;
    width: 118px;
}

.tip-percentage>input[type="number"]:focus {
    border: 3px solid #9FE8DF;
}

.grid-right {
    background: #00474B;
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 413px;
}

.flex.tip-amount {
    display: flex;
    gap: 92px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.tip-amount h3,
.total-person h3 {
    font-size: 16px;
    text-wrap: nowrap;
}

.tip-amount span,
.total-person span {
    font-size: 13px;
    color: #7F9D9F;
}

.tip-amount div:last-child,
.total-person div:last-child {
    color: #26C2AE;
}

.flex.total-person {
    display: flex;
    gap: 92px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 122px;
}


button.btn {
    background: #0D686D;
    border: 0;
    border-radius: 5px;
    color: #00474B;
    font-family: "Space Mono";
    font-size: 20px;
    text-transform: uppercase;
    padding: 9px 144px;
    cursor: pointer;
    transition: .08s ease-in;
}

button.btn:hover {
    background: #9FE8DF;
}